@font-face {
    font-family: 'Press Start 2P';
    src: url("/assets/PressStart2P-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Chicken Dinner';
  src: url("/assets/Chicken Dinner Demo.otf") format('truetype');
}

body,
html {
  //font-family: 'Chicken Dinner', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

@import "./components/StartScreen/startscreen.less";
@import "./components/Game/game.less";
@import "./components/Winners/winners.less";