body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

button {
  appearance: none;
  background-color: #3a9364;
  color: white;
  font-size: 12px;
  padding: 10px 15px;
  box-shadow: none;
  border: none;
  cursor: pointer;

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

@import "./components/GamesOverview/gamesoverview.less";
@import "./components/StartScreen/startscreen.less";
@import "./components/WaitingScreen/waitingscreen.less";
@import "./components/Game/game.less";
@import "./components/Winners/winners.less";